/*    Index
 *--------------
 * 1-CSS Variables
 * 2-About
*/

/* 1-CSS Variables */
:root{
  --primary-pink:#eddedb;
  --secondary-purple:#6562ac;
  --secondary-blue:#81b5e2;
  --secondary-pink:#8A6264;
  --light:#fff;
  --dark:#000;
  --kinda-dark:#191919;
}

/* 2-About */
.bigabout-wrapper{
  background: url("../images/adrianaBG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bigabout-wrapper2{
  background: url("../images/adrianaBG2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.bigabout-wrapper .about-wrapper{
  width: 70%;
}

.bigabout-wrapper2 .about-wrapper{
  width: 70%;
}

.about2-wrapper {
  background: var(--primary-pink);
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  width: 100%;
}

.about3-wrapper {
  background: var(--primary-pink);
  padding: 1.5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  width: 100%;
}


.about2-wrapper p{
 width: 70%;
 margin: 1em 0;
}

.about2-description {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Mukta";
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10em;
}

.about-title{
  font-size: 2.5em;
  font-family: "Mukta";
}

.about-description {
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Mukta";
  width: 80%;
  text-align: justify;
}

/* 4.5-Media Queries */
@media(max-width: 1300px){
  .about-description{
    width: 100%;
  }
}

@media(max-width: 1000px){
  .bigabout-wrapper{
    background-position: center;
  }
  .bigabout-wrapper .about-wrapper{
    width: 100%;
  }
  .bigabout-wrapper2 .about-wrapper{
    width: 100%;
  }
  .about{
    background-color: rgba(0,0,0,.7);
    color: var(--light);
    margin: 5em;
  }
}

@media(max-width: 600px){
  .bigabout-wrapper{
    background: url("../images/adrianaBG3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about{
    padding: 3em;
    margin: 2em;
  }
}