/*    Index
 *--------------
 * 1-CSS Variables
 * 2-Wedding
 * 3-Contact form
 * 4-Top Popup
*/



/* 1-CSS Variables */
:root{
  --primary-pink:#eddedb;
  --secondary-purple:#6562ac;
  --secondary-blue:#81b5e2;
  --secondary-pink:#8A6264;
  --light:#fff;
  --dark:#000;
  --kinda-dark:#191919;
}

article.contacts-background{
  height: 50vh;
  background: url("../images/contacts.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

article.contacts-background h2{
  font-family: Roboto;
  font-size: 5em;
  color: var(--light);
}

article.contacts-background2{
  height: 37vh;
  background: url("../images/contacts2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

/* 2-Wedding */
article.wedding-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

article.wedding-container h2{
  font-family: Pacifico;
  text-align: center;
  font-size: 2em;
  color: var(--secondary-pink);
}

article h3{
  font-family: Mukta;
  text-align: center;
  font-size: 1.5em;
}

article.wedding-container .three-wedding-boxes-columns{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: justify;
}

.three-wedding-boxes-columns section{
  padding: 1em;
}

article.wedding-container .three-wedding-boxes-columns > section {
  flex-basis: 22%;
  background-position: top !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three-wedding-boxes-columns section.casamentospt{
  background: url("../images/casamentospt.webp");
}

.three-wedding-boxes-columns section.onossocasamentopt{
  background: url("../images/onossocasamentopt.jpg");
}

.three-wedding-boxes-columns section.zankyoupt{
  background: url("../images/zankyoupt.jpg");
}

.three-wedding-boxes-columns div{
  background: var(--primary-pink);
  font-family: 'Mukta';
  color: var(--dark);
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.5;
  padding: 2em;
  visibility: hidden;
  transform: rotateY(180deg);
  opacity: 0;
}

.three-wedding-boxes-columns h3{
  background: rgba(255,255,255,.8);
  padding: .7em;
  border-radius: .15em;
  font-family: 'Mukta';
  font-weight: bold;
  font-size: 1.5em;
}

.three-wedding-boxes-columns h3 a{
  color: var(--dark);
}

.three-wedding-boxes-columns section:hover > a div{
  transition: .5s ease-in;
  visibility: visible;
  transform:rotateY(0deg);
  opacity: 1;
}



/*3-Contact form*/
.contact-form{
  padding: 1em;
  background: var(--primary-pink);
  color: var(--secondary-pink);
}

.contact-form h2{
  padding:1em;
  text-align: center;
  font-size: 2em;
}

.contact-form .contacts-info{
  width: 20em !important;
  border-radius:.1em !important;
  font-size: 1.4em;
  font-weight: 300;
  transition: .5s;
  cursor: default;
  display: block;
  margin-bottom: 1em;
  position: relative;
  padding: 1.5em !important;
  cursor: pointer;
}

.contact-information-animation{
  animation-name: copyInformation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes copyInformation{
  0%{
    font-size: 1em;
  }

  30%{
    opacity: 0;
  }

  50%{
    font-size:7em;
  }

  100%{
    opacity: 0;
  }
}

.copy-icon{
  position: relative;
}

.copy-icon span{
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 10000;
}

.contact-form p:hover{
  background:#555;
}

.contact-form .contacts-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-form .information-container{
  margin-right: -35em;
}

.contact-form label{
  margin: 1em;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form .input-label{
  padding-bottom: .3em;
  padding-right: .2em;
}

.contact-form label{
  display: flex;
  flex-direction: column;
  font-size: .75em;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea{
  width:30em;
  height:3em;
  padding: 1em;
  border:0;
  border-radius:.2em;
  background:var(--secondary-pink);
  color: var(--light);
}

.contact-form input[type=submit]{
  width:15em;
  height:3em;
  padding: 1em;
  border:0;
  border-radius:.2em;
  background:var(--primary-purple);
  color: var(--light);
}

.contact-form textarea{
  height: 7em;
}

.required-field{
  color: #c0392b;
  cursor: help;
}

.required-field-container{
  display: flex;
  flex-direction: row;
}

.contact-form #subjectSelect{
  width:30em;
  height:3em;
  margin-bottom: 1em;
  padding-left: .7em;
  border:0;
  border-radius:.2em;
  background: var(--secondary-pink);
  color: var(--light);
}

/*4-Popup*/
.top-popup{
  width: 100%;
  height: 5em;
  position: absolute;
  z-index: 10000000000000000000000000000000000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  font-size: 1.7em;
  color: var(--primary-green);
  animation-name: hidePopup;
  animation-duration: 9.3s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

@keyframes hidePopup{
  0%{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

#hidePopupX{
  position: absolute;
  top: .5em;
  right: .5em;
  font-family: consolas;
  font-size: 2em;
  color: var(--dark);
  cursor: pointer;
}



/*Media Queries*/
@media(max-width: 1600px){
  .top-popup{
    font-size: 1.5em;
  }
}

@media(max-width: 1400px){
  .contact-form .contacts-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .contact-form .information-container {
    margin-right:0;
  }

  .top-popup{
    font-size: 1.1em;
  }
}

@media(max-width: 1100px){
  .location div{
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: repeat(2,1fr);
  }

  .top-popup{
    font-size: 1em;
  }
}

@media(max-width: 1000px){
  .top-popup{
    font-size: .9em;
  }
}

@media(max-width: 900px){
  .top-popup{
    font-size: .75em;
  }
}

@media(max-width: 800px){
  .top-popup{
    height: 7em;
    font-size: .65em;
  }
}

@media(max-width: 600px){
  .top-popup{
    height: 10em;
    font-size: .45em;
  }
}